body{
    margin: 0;
    padding: 0;
    border: 0;
}

header{
    background-color: rgb(33, 33, 33);
    width: 100%;
    height: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.div-barra{
    max-width: 1000px;
    margin: 0 auto;
}

.div-barra span{
    color: white;
    float: left;
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
}

.div-barra span b{
    color: orangered;
}

.div-barra nav{
    float: right;
    margin-top: 13px;
}

.div-barra ul{
    color: white;
    list-style: none;
    font-size: 15px;
}

.div-barra ul li {
    display: inline;
    margin-left: 3px;
}

li:first-child{
    color: orangered;
}